.list-container{
  display: flex;
  flex-wrap: wrap;
  margin: 120px 100px;
  gap: 50px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.payment-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hours{
  font-size: 22px;
}

@media screen and (max-width: 950px) {
  .list-container{
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px 0;
    margin: 50px 0;
  }
  
  .payment-container{
    border-radius: 8%;
  }

  .payment-title{
    font-size: 22px;
    text-align: center;
  }
}