.policies-container{
  width: 100%;
}

.policies-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 50px 25px;
  
}

.policy-item{
  background-color: white;
  padding: 30px;
  height: 220px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


@media screen and (min-width: 950px) {
  .policies-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .policy-item{
    height: 160px;
    width: 600px;
  }
}